html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding-top: 56px; 
}

@media (max-width: 992px) {
  body {
    padding-top: 70px; 
  }
}

section {
  scroll-margin-top: 70px; 
}

.custom-navbar {
  transition: background 0.3s ease, color 0.3s ease;
}
